In [1]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")

In [2]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
def categorize(x):
    x = round(x, 1)
    if x<18.5:
        return 'Underweight'
    if x>=18.5 and x <=24.9:
        return 'Normal'
    if x>=25 and x<=29.9:
        return 'Overweight'
    if x>=30:
        return 'Obese'
df['BMI_group'] = df['bmi'].apply(categorize)
df.head(5)

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      Normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight

In [4]:
# cut_bins = [0,18.4,24.9, 29.9, 30.001]
# cut_labels = [ 'Underweight', 'Normal', 'Overweight', 'Obese']
# df['BMI_group'] = pd.cut(df['bmi'].clip(upper=30), bins=cut_bins,include_lowest =True, labels=cut_labels)
# df.head(5)

In [5]:
df.loc[df.bmi==18.5]

     age     sex   bmi  children smoker     region   charges BMI_group
684   33  female  18.5         1     no  southwest  4766.022    Normal

In [6]:
df.loc[(df.bmi>24.9) & (df.bmi<25)]

      age     sex     bmi  children smoker     region      charges   BMI_group
367    42  female  24.985         2     no  northwest   8017.06115  Overweight
1008   25    male  24.985         2     no  northeast  23241.47453  Overweight
1221   40    male  24.970         2     no  southeast   6593.50830  Overweight

In [7]:
df.loc[df.bmi==29.9]

      age     sex   bmi  children smoker     region    charges   BMI_group
865    40    male  29.9         2     no  southwest   6600.361  Overweight
1126   55    male  29.9         0     no  southwest  10214.636  Overweight
1263   43  female  29.9         1     no  southwest   7337.748  Overweight

In [8]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns', 500)
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/831JKKEkW7kqd5M4evNva9LyB/insurance_grouped.csv")
le = LabelEncoder()#use this encoder to encode values
def categorize(x):
    x = round(x, 1)
    if x<18.5:
        return 'Underweight'
    if x>=18.5 and x <=24.9:
        return 'Normal'
    if x>=25 and x<=29.9:
        return 'Overweight'
    if x>=30:
        return 'Obese'

df['BMI_group'] = df['bmi'].apply(categorize)

In [9]:
df.head()

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      Normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight

In [10]:
df['age'].describe()

count    1338.000000
mean       39.207025
std        14.049960
min        18.000000
25%        27.000000
50%        39.000000
75%        51.000000
max        64.000000
Name: age, dtype: float64

In [11]:
df['age'] = le.fit_transform(df['age'])
df['sex'] = le.fit_transform(df['sex'])
df['BMI_group'] = df['BMI_group'].fillna('None')
df['BMI_group'] = le.fit_transform(df['BMI_group'])
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])

print(df.head(5))

   age  sex     bmi  children  smoker  region      charges  BMI_group
0    1    0  27.900         0       1       3  16884.92400          2
1    0    1  33.770         1       0       2   1725.55230          1
2   10    1  33.000         3       0       2   4449.46200          1
3   15    1  22.705         0       0       1  21984.47061          0
4   14    1  28.880         0       0       1   3866.85520          2

In [12]:
df[['smoker',"bmi", "age","charges"]]

      smoker     bmi  age      charges
0          1  27.900    1  16884.92400
1          0  33.770    0   1725.55230
2          0  33.000   10   4449.46200
3          0  22.705   15  21984.47061
4          0  28.880   14   3866.85520
...      ...     ...  ...          ...
1333       0  30.970   32  10600.54830
1334       0  31.920    0   2205.98080
1335       0  36.850    0   1629.83350
1336       0  25.800    3   2007.94500
1337       1  29.070   43  29141.36030

[1338 rows x 4 columns]

In [13]:
c = df[['smoker',"bmi", "age","charges"]].corr()
c

           smoker       bmi       age   charges
smoker   1.000000  0.003750 -0.025019  0.787251
bmi      0.003750  1.000000  0.109272  0.198341
age     -0.025019  0.109272  1.000000  0.299008
charges  0.787251  0.198341  0.299008  1.000000

In [14]:
c.loc['smoker', 'age']

-0.025018751536284797

In [15]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/B5yO4wkEbQk4dVGn8140yV1bx/insurance_encoded.csv")


c = df[['smoker',"bmi", "age","charges"]].corr()
print(round(c.loc['smoker', 'bmi'], 3))
print(round(c.loc['smoker', 'age'], 3))
print(round(c.loc['smoker', 'charges'], 3))

0.004
-0.025
0.787

In [16]:
import pandas as pd

# Read training data
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/72Boxj99702g8BwK5powGz1g0/insurance_training.csv")

# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/gxVjwe1k3YEogYK23O8PPnXod/insurance_test.csv")

In [17]:
train.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,BMI_group,charges
0,560,46,0,19.95,2,0,1,1,9193.83850
1,1285,47,0,24.32,0,0,0,1,8534.67180
2,1142,52,0,24.86,0,0,2,1,27117.99378
3,969,39,0,34.32,5,0,2,2,8596.82780
4,486,54,0,21.47,3,0,1,1,12475.35130

In [18]:
test.head()

   Unnamed: 0  age  sex     bmi  children  smoker  region  BMI_group
0         764   45    0  25.175         2       0       0          3
1         887   36    0  30.020         0       0       1          2
2         890   64    0  26.885         0       1       1          3
3        1293   46    1  25.745         3       0       1          3
4         259   19    1  31.920         0       1       1          2

In [19]:
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [20]:
train.drop('Unnamed: 0', axis=1)
test.drop('Unnamed: 0', axis=1)

     age  sex     bmi  children  smoker  region  BMI_group
0     45    0  25.175         2       0       0          3
1     36    0  30.020         0       0       1          2
2     64    0  26.885         0       1       1          3
3     46    1  25.745         3       0       1          3
4     19    1  31.920         0       1       1          2
..   ...  ...     ...       ...     ...     ...        ...
263   63    1  35.090         0       1       2          2
264   58    0  27.170         0       0       1          3
265   38    1  28.025         1       0       0          3
266   54    0  47.410         0       1       2          2
267   51    0  34.200         1       0       3          2

[268 rows x 7 columns]

In [21]:
len(test.index)

268

In [22]:
x_train=train['smoker']
y_train=train['charges']

In [23]:
# Add a constant to get an intercept
X_train_sm = sm.add_constant(x_train)

# Fit the resgression line using 'OLS'
lr = sm.OLS(y_train, X_train_sm).fit()

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [24]:
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.608
Model:                            OLS   Adj. R-squared:                  0.608
Method:                 Least Squares   F-statistic:                     1660.
Date:                Sat, 11 Apr 2020   Prob (F-statistic):          1.04e-219
Time:                        23:30:33   Log-Likelihood:                -11068.
No. Observations:                1070   AIC:                         2.214e+04
Df Residuals:                    1068   BIC:                         2.215e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8578.3225    258.076     33.240      0.000    8071.929    9084.716
smoker      2.319e+04    569.152     40.743      0.000    2.21e+04    2.43e+04
==============================================================================
Omnibus:                      104.764   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              156.078
Skew:                           0.719   Prob(JB):                     1.28e-34
Kurtosis:                       4.198   Cond. No.                         2.60
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
X_test=test['smoker']

In [26]:
# Add a constant to X_test
X_test_sm = sm.add_constant(X_test)

# Predict the y values corresponding to X_test_sm
y_test_pred = lr.predict(X_test_sm)

In [28]:
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
r_squared

NameError: name 'y_test' is not defined