In [1]:
((500//7)%5)**3

1

In [2]:
s = "I Love Python"

In [4]:
s[2:6]

'Love'

In [6]:
s[-11:-7]

'Love'

In [17]:
l=[1, 2, 3]

In [8]:
l*2

[1, 2, 3, 1, 2, 3]

In [9]:
l =  [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
l[2:]

[[7, 8, 9, 10]]

In [10]:
T = (3, 5, 7, 11)
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
    print(val)

1
2
3

In [13]:
def my_func(*args):
    return(sum(args))

In [14]:
print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

15
21

In [18]:
list(map(lambda x : x ** 2, l))

[1, 4, 9]

In [29]:
list(range(1, 5))

[1, 2, 3, 4]

In [24]:
from functools import reduce

In [32]:
print (reduce(lambda a,b : a*b,range(1, -1)))

TypeError: reduce() of empty sequence with no initial value

In [42]:
C = [2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
F = [2, 4, 5, 6, 7, 9, 13, 16, 20]
H= [1, 2, 5, 9, 10, 11, 12, 13, 15, 20]
c1 = set(C)
f1 = set(F)
h1 = set(H)

In [43]:
r  = list(c1.intersection(f1).intersection(h1))#.sort()
r.sort()
r

[2, 5, 9, 13]

In [46]:
r = list(c1.intersection(f1).difference(h1))
r.sort()
r

[16]

In [52]:
t1 = c1.intersection(f1)
t2 = f1.intersection(h1)
t3 = c1.intersection(h1)
t4 = t1.union(t2).union(t3).difference(t1.intersection(t2).intersection(t3))
t4

{2, 5, 9, 13, 16}
{2, 5, 9, 13, 20}
{2, 5, 9, 12, 13, 15}

{12, 15, 16, 20}

[3, 8, 14]

{3, 8, 14}

In [59]:
4**3

64

In [62]:
if(-1):
    print(True)

True

In [63]:
for i in range(3):
    print(i)

0
1
2

In [64]:
print('11 12 13 \n14')

11 12 13
14

In [65]:
a=11

b=12

c=13 

d=14

print(a,b,c)

print(d)

11 12 13
14

In [66]:
a=11

b=12

c=13 

d=14

print('{0} {1} {2}'.format(a,b,c) )

print(d)

11 12 13
14

In [67]:
a=11

b=12

c=13 

d=14

print('%d %d %d' %(a,b,c))

print(d)

11 12 13
14

In [68]:
a=11

b=12

c=13 

d=14

print(f'{a}{b}{c}')

print(d)

111213
14

In [69]:
'12, 15'.split(',')

['12', ' 15']

In [73]:
import ast

dictionary = ast.literal_eval("{'a': 1, 'b': 2}") 
print(str(type(dictionary)))

<class 'dict'>

In [74]:
l = [1, 2]

In [75]:
type(l) == list

True

In [78]:
#take input here
import ast
input_list = ast.literal_eval(input())
chocolates = 0
print(type(input_list))
if(type(input_list)==tuple):
    m = input_list[0]
    c = input_list[1]

#start writing your code here
    chocolates = m//c
    wrappers = m//c
    while(wrappers//3>0):
        chocolates = chocolates + wrappers//3
        wrappers = wrappers//3 + wrappers%3
    
#dont forget to print the number of chocolates Sanjay can eat
print(chocolates)

3, 1
<class 'tuple'>
4

In [83]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [91]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [136]:
n= 5

for i in range(n,0, -1):
    j=-1
    for _ in range(2*(i-1)):
        print('_ ', end = "")
    for j in range(n, i, -1):
        print("{0} _ ".format(chr(96+j)), end = "")
    
    for k in range(j, n+1):
         print("{0} _ ".format(chr(96+k)), end = "")
    print(chr(97+n-1), end="")    
    
    for _ in range((2*(i-1))):
        print('_ ', end = "")
    print()

_ _ _ _ _ _ _ _ -1-1e_ _ _ _ _ _ _ _
_ _ _ _ _ _ -1e _ 5e_ _ _ _ _ _
_ _ _ _ -1e _ d _ 4e_ _ _ _
_ _ -1e _ d _ c _ 3e_ _
-1e _ d _ c _ b _ 2e

In [109]:
list(range(-1))

[]

In [111]:
i = 1
for _ in range((2*(i-1))-1):
    print('_ ', end = "")

In [14]:
size = int(input())
alphabet = "abcdefghijklmnopqrstuvwxyz"
def draw(size):
    shape = "" # The answer
    tmp_size = size # defining a temporary size variable to help with the solution
    tmp_size = tmp_size - 1
    while tmp_size+1:
        hyphen_count = (size-tmp_size) *2 - 2 # Needed hyphen count for the left-right of new_line
        hypens = hyphen_count*"-" # Hyphens to be added

        # The new line, the strange ranges I used was to get the correct letters in place. Probably needs simplifying.
        new_line = "-".join([alphabet[abs(num)] for num in list(range(1-size,tmp_size-size+1)) + list(range(size-tmp_size-1, size))]

        # Draw one line if it is the first line
#         if tmp_swize == size-1:
#                             shape = shape + new_line
#         # Draw to both top and bottom if it is not the first line.
#         else:
#             shape = hypens + new_line + hypens + "\n" + shape + "\n" + hypens + new_line + hypens
        #tmp_size -= 1
    return shape
print(draw(size))

SyntaxError: invalid syntax (<ipython-input-14-722dbcab73c9>, line 21)

In [39]:
size = int(input())
alphabet = "abcdefghijklmnopqrstuvwxyz"
def draw(size):
    shape = ""
    tmp_size = size - 1
#   print(size, tmp_size)
    while tmp_size+1:
        hyphen_count = (size-tmp_size) *2 - 2   
        #print("{0} hyphens".format(hyphen_count))
        hypens = hyphen_count*"-"
        print(list(range(1-size,tmp_size-size+1)))
        print(list(range(size-tmp_size-1, size)))
        new_line = "-".join([alphabet[abs(num)] for num in list(range(1-size,tmp_size-size+1)) + list(range(size-tmp_size-1, size))])
        print(new_line)
        if tmp_size==size-1:
            shape = shape + new_line
        else:
            shape = hypens + new_line + hypens + "\n" + shape + "\n" + hypens + new_line + hypens
       # print(shape)
        tmp_size-=1
    return shape  
#print(draw(size))
draw(size)

5
[-4, -3, -2, -1]
[0, 1, 2, 3, 4]
e-d-c-b-a-b-c-d-e
[-4, -3, -2]
[1, 2, 3, 4]
e-d-c-b-c-d-e
[-4, -3]
[2, 3, 4]
e-d-c-d-e
[-4]
[3, 4]
e-d-e
[]
[4]
e

'--------e--------\n------e-d-e------\n----e-d-c-d-e----\n--e-d-c-b-c-d-e--\ne-d-c-b-a-b-c-d-e\n--e-d-c-b-c-d-e--\n----e-d-c-d-e----\n------e-d-e------\n--------e--------'

In [6]:
def draw(size, char='-'):
    fmt = '{{0:{char}^{size}}}'.format(char=char, size=4 * size - 3)
    return '\n'.join(
        fmt.format(char.join([alphabet[size - s] for s in piramid_range(inner_size)]))
        for inner_size in piramid_range(size)
    )
def piramid_range(size):
    return list(range(1, size)) + list(range(size, 0, -1))

print(draw(5))
print()
print(draw(4, char=' '))

--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

      d
    d c d
  d c b c d
d c b a b c d
  d c b c d
    d c d
      d

In [41]:
[for i in range(1, 5): i]

SyntaxError: invalid syntax (<ipython-input-41-243230a8404d>, line 1)

In [42]:
[for i in range(1, 5) i]

SyntaxError: invalid syntax (<ipython-input-42-e9420424f1e3>, line 1)

In [43]:
L=[2, 3, 4, 2, 1, 2, 3]
print(L.index(2))

0

In [44]:
L=[10,20,30,40,50,60,70,80,90,100]
L[1:8:2]

[20, 40, 60, 80]

In [48]:
# L[(1, 3, 5, 7)]
L[1:-1:2]

[20, 40, 60, 80]

In [49]:
[L[i] for i in range(1,9,2)]

[20, 40, 60, 80]

In [55]:
A = [10, 20, 30]
B = [45, 35, 25]

In [56]:
A.extend(B)

In [57]:
A

[10, 20, 30, 45, 35, 25]

In [63]:
#take input on your own here
import ast
input_list = ast.literal_eval(input())
m= input_list[0]
n = input_list[1]

#start writing code here
final = [0]*n
final_list = [list(final) for _ in range(m)]

for i in range(m):
    for j in range(n):
        if i==0 or j==0 or i==m-1 or j==n-1:
            final_list[i][j] = 1
res = [final_list[i][j] for i in range(m) for j in range(n)]
print(res)            
for i in range(m):
    print(final_list[i])

5, 3
[1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1]
[1, 1, 1]
[1, 0, 1]
[1, 0, 1]
[1, 0, 1]
[1, 1, 1]

In [65]:
def printPascal(n):  
  
    for line in range(1, n + 1):  
        C = 1; # used to represent C(line, i)  
        for i in range(1, line + 1):  
              
            # The first value in a  
            # line is always 1  
            print(C, end = " ");  
            C = int(C * (line - i) / i);  
        print("");  
  
# Driver code  
n = 6;  
printPascal(n);

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1

In [66]:
l = [1, 2, 3, 4]
l[2:7]

[3, 4]

In [70]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9]
k = 5
ll = len(lis)
for i in range(0, ll, k):
    print(i, end=" ")
    print(lis[i:i+k])

0 [1, 2, 3, 4, 5]
5 [6, 7, 8, 9]

In [71]:
sec_largest = 'not present'
sec_largest = lis[1]

In [72]:
sec_largest

2

In [84]:
input_list =[0, 0, 1, 1]

ll = len(input_list)

largest = input_list[0]
sec_largest = False
for i in range(1, ll):
    if(input_list[i]<largest):
        if(sec_largest==False or input_list[i]>sec_largest):
            sec_largest = input_list[i]
    elif(input_list[i]>largest):
        sec_largest = largest
        largest = input_list[i]
    print(largest, sec_largest)
    
if(sec_largest is False):
    print('not present')
else:
    print(sec_largest)

0 False
1 0
1 0
0

In [87]:
a = 0
print(a==str(False))

False

In [88]:
1=='1'

False

In [139]:
#input n taken here
n=int(input())

#we will make a list of lists with just [1] in it. We will run a for loop from i= 2 to n and in each iteration
#we will add [i]*(2i-3) in top of the list and and in bottom
#then add i on both sides of all sub_lists 

answer=[[1]]
for i in range(2, n+1):
    t=[i]*((2*i)-3)
    answer.insert(0, t)
    answer.append(list(t))
    for a in answer:
        a.insert(0,i)
        a.append(i)

answerfinal=[]
#we join the elements of the string without space
for a in answer:
    answerfinal.append("".join(map(str, a)))
#print 
for a in answerfinal:
    print(a)

6
66666666666
65555555556
65444444456
65433333456
65432223456
65432123456
65432223456
65433333456
65444444456
65555555556
66666666666

In [103]:
i =1 
answer=[[1]]
a = [i]*4
print(answer, a)

[[1]] [1, 1, 1, 1]

In [104]:
answer.insert(0, a)
print(answer)
answer.append(a)
print(answer)

[[1, 1, 1, 1], [1]]
[[1, 1, 1, 1], [1], [1, 1, 1, 1]]

In [127]:
print(chr(51))

3

In [129]:
s=" jg "
s.strip()

'jg'

In [130]:
'G'.join(['up','rad'])

'upGrad'

In [132]:
s='aabupGradaab'.strip('aab')
s

'upGrad'

In [136]:
s='aabupGradaab'.strip('a').strip('b').strip('a')
s

'upGrad'

In [1]:
s="aMit"
s[::-1]

'tiMa'

In [141]:
s.title()

'Amit'

In [2]:
print('a' in s)
print('A' in s)

True
False

In [3]:
print(int('12'))

12

In [8]:
try:
    print(int('False'))
    print('yes')
except:
    print("An exception occurred")

An exception occurred

In [5]:
print(int('a'))

ValueError: invalid literal for int() with base 10: 'a'

In [10]:
a = "  2,3,4 ".strip()
a.replace(',','')

'234'

In [59]:
print(ord('a'))
print(ord('z'))
print(ord('b'))
print(ord('c'))
print(ord('x'))

122-97
print(ord('x')-ord('a'))
print(ord('d')-ord('a'))

97
122
98
99
120
23
3

In [65]:
chr(97+(ord('c')-3-97)%26)

'z'

In [61]:
print(-3%26)
chr(97+(-3%26))

23

'x'

In [62]:
print(0%26)
chr(97+(0*26))

0

'a'

In [66]:
ord('A')

65

In [67]:
ord('Z')

90

In [69]:
'a'.isupper()

False

In [71]:
n='9'
n*20

'99999999999999999999'

In [89]:
n =10
res = n
for i in range(2, n+1):
    s = int(("{0}".format(n))*i)
    print(s)
    res = res + s
print(res)
print(10 + 1010 + 101010 + 10101010 + 1010101010 + 101010101010 + 10101010101010 + 1010101010101010 + 10101010101010101010)
# print( 8+88+888+8888+88888+888888+8888888+88888888)

1010
101010
10101010
1010101010
101010101010
10101010101010
1010101010101010
101010101010101010
10101010101010101010
10203040506070809100
10102030405060708090

In [91]:
a = set([1, 2, 3])
b = set([1, 4, 5])
c = set([1, 3, 5])

In [93]:
a.intersection(b, c)

{1}

In [94]:
set.intersection(a, b, c)

{1}

In [95]:
d={'a':1, 'b':2}
d

{'a': 1, 'b': 2}

In [96]:
d=dict(a=1, b=2)
d

{'a': 1, 'b': 2}

In [99]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d['e'])

KeyError: 'e'

In [100]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d.keys())

dict_keys(['a', 'b', 'c', 'd'])

In [101]:
d.values()

dict_values([64, 65, 66, 67])

In [102]:
del d['a']
d

{'b': 65, 'c': 66, 'd': 67}

In [110]:
from functools import reduce
input_list= [1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]
d={}
n = len(input_list)
#start writing your code from here
for i in range(n):
    if input_list[i] not in d:
        d[input_list[i]]=dict(s=i,e=i)
    else:
        d[input_list[i]]['e'] = i

m  = 0
for v in d.values():
    m = max(m, v['e']-v['s'])
print(m)

8

In [113]:
from math import ceil
ceil(3/2)
3//2

1

In [114]:
ceil(4/2)
4//2

2

In [115]:
dd = {'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}
for k in dd:
    if isinstance(dd[k], dict):
        print(True)
    else:
        print(False)

False
True
False

In [134]:
import time 
mylist=[i for i in range(100000)] #fill up the list with some integer values, as many as you want
import random
random.shuffle(mylist)
k= 66 #fill in this line too
start = time.process_time() 
for i in range(len(mylist)):
    if mylist[i]==k:
        print(i)
print(time.process_time() - start)

9726
0.015625

In [150]:
-3**-5

-0.00411522633744856

In [161]:
series =[9, 11, 13]
k = int(input())

#start writing your code here
cd = series[1]-series[0]

if k>series[0]:
    tn = k
    a = series[0]
elif k<series[0]:
    tn = series[0]
    a = k
else:
    print(True)

print((tn-a)%cd==0)
# Tn = a + (n-1)d
# (Tn-a)//d = n-1

8
False

In [159]:
print((19-9)%2)
print((20-9)%2)
print((11-9)%2)

0
1
0

In [155]:
print((9-3)%2)
print((9-8)%2)

0
1

In [163]:
n^x+x = 0 
n^x = -x

True

In [173]:
2**(-.9)

0.5358867312681466

In [4]:
chr(ord('c')-4)

'_'

In [5]:
def func(x):
     return x % 10

L = [15, 20, 5, 29, 10]
sorted(L, key = func)

[20, 10, 15, 5, 29]

In [9]:
#take input on your own
import ast
list1 = [1, 3, 5, 7, 9, 10]
list2 = [2, 3, 4, 5, 6, 8, 11, 12, 13]


len1 = len(list1)
len2 = len(list2)
res = []

i= 0
j = 0
while i<len1 and j<len2:
    if list1[i]<=list2[j]:
        res.append(list1[i])
        i= i+1
    else:
        res.append(list2[j])
        j=j+1

while i<len1:
    res.append(list1[i])
    i = i+1

while j<len2:
    res.append(list2[j])
    j=j+1
    
print(res)

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13]