<table align="left" width=100%>
    <tr>
        <td width="10%">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Inclass - Lab </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a NumPy program to convert a list of numeric values into a one-dimensional NumPy array</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below: (or create your own list)**<br>

list1 = [3.04, 1.65, 5.76, 1.66, 1.54, 4.69, 2.68]

In [1]:
# type your code here
import numpy as np
import pandas as pd
weights = [74.2, 85, 74, 67.9, 52, 70.5, 86, 51.8, 64, 82]
np_weights = np.array(weights)
print(type(np_weights[0]))
np_weights.dtype

<class 'numpy.float64'>

dtype('float64')

<table align="left">
    <tr>
        <td width="6%">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Create a 1D array of weights of 10 students and retrieve all the weights greater than 68</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the weights given below: (or create your own list)**

weights = [74.2, 85, 74, 67.9, 52, 70.5, 86, 51.8, 64, 82]

In [2]:
# type your code here
np_weights[np_weights>68]

array([74.2, 85. , 74. , 70.5, 86. , 82. ])

<table align="left">
    <tr>
        <td width="6%">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a code to generate 10 random integers between 20 to 40 (Is it possible to generate same random numbers everytime? If yes, describe the function)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# type your code here
np.random.seed(seed=2)
np.random.randint(20,40, 10)

array([39, 27, 26, 30, 21, 23, 25, 24, 34, 26])

<table align="left">
    <tr>
        <td width="6%">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to get the fifth power of the first five positive integers
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
# type your code here
ints = np.arange(1, 6, dtype=int)
f = np.vectorize(lambda x:x**5)
print(np.apply_along_axis(f,0, ints))
# ints.apply(f)
np.arange(1, 6)**5

[   1   32  243 1024 3125]

array([   1,   32,  243, 1024, 3125], dtype=int32)

<table align="left">
    <tr>
        <td width="6%">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to create an array of all the odd integers from 50 to 100 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
# type your code here
np.arange(51, 101, 2)

array([51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83,
       85, 87, 89, 91, 93, 95, 97, 99])

## Concatenate two dataframes

In [ ]:
df_1 = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'Company':['Apple','Walmart','Intel','cummins','Ford'],
   'Salary':[67000,90000,87000,69000,78000]},
   index=[101,102,103,104,105])

print("The first dataframe is : \n",df_1, "\n\n")

df_2 = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'Company':['Cognizant','Apple','Intel','Cummins','Walmart'],
   'Salary':[89000,80000,79000,97000,88000]},
   index=[101,102,103,104,105])

print("The second dataframe is : \n",df_2)

**Concatenate two dataframes**

In [1]:
# Type your code here

**Combine Pandas Dataframes Horizontally**

In [ ]:
# Type your code here