In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
data = pd.read_csv('Inferential Statistics - Powai Flats Rent.csv',index_col = 'S. No.')
data.head()

        Monthly Rent
S. No.
1              44000
2              49800
3              45400
4              40700
5              43900

In [6]:
description = data['Monthly Rent'].describe()
description

count      200.000000
mean     45571.000000
std       7457.521851
min      30100.000000
25%      41250.000000
50%      44950.000000
75%      49825.000000
max      59800.000000
Name: Monthly Rent, dtype: float64

In [7]:
marginError = (1.65*7457.52)/math.sqrt(200)

In [8]:
description['mean'] +marginError

46441.08838886766

In [9]:
cc

44700.91161113234

In [10]:
# 99% confidence
marginError = (2.58*7457.52)/math.sqrt(200)

In [11]:
description['mean'] +marginError

46931.50184441125

In [12]:
description['mean'] -marginError

44210.49815558875

In [13]:
# 95% confidence
marginError = (1.96*7457.52)/math.sqrt(200)

In [14]:
description['mean'] +marginError

46604.55954071552

In [15]:
description['mean'] -marginError

44537.44045928448