In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('student-loan.csv')
data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [3]:
data = data.iloc[:,:-2 ]
data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default
0,1,11.50,20.00%,0.0070
1,2,0.24,5.10%,0.0033
2,3,0.04,24.86%,0.0022
3,4,13.81,2.29%,0.0066
4,5,19.84,3.47%,0.0020

In [4]:
data.rename(inplace=True , columns ={'Exposure at Default (in lakh Rs.)':'Exposure', 'Probability of Default':'POD', 'Recovery (%)':'Recovery'})
data.head()

   Customer No.  Exposure Recovery     POD
0             1     11.50   20.00%  0.0070
1             2      0.24    5.10%  0.0033
2             3      0.04   24.86%  0.0022
3             4     13.81    2.29%  0.0066
4             5     19.84    3.47%  0.0020

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
Customer No.    10000 non-null int64
Exposure        10000 non-null float64
Recovery        10000 non-null object
POD             10000 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 312.6+ KB

In [6]:
data['Recovery'] = data['Recovery'].str.rstrip('%').astype(float)
data['Recovery'] = data['Recovery'] /100
data.head()

   Customer No.  Exposure  Recovery     POD
0             1     11.50    0.2000  0.0070
1             2      0.24    0.0510  0.0033
2             3      0.04    0.2486  0.0022
3             4     13.81    0.0229  0.0066
4             5     19.84    0.0347  0.0020

In [8]:
data['ExpectedLoss'] = data['POD'] * (data['Exposure']*(1-data['Recovery']))

In [9]:
data.head()

   Customer No.  Exposure  Recovery     POD  ExpectedLoss
0             1     11.50    0.2000  0.0070      0.064400
1             2      0.24    0.0510  0.0033      0.000752
2             3      0.04    0.2486  0.0022      0.000066
3             4     13.81    0.0229  0.0066      0.089059
4             5     19.84    0.0347  0.0020      0.038303

In [10]:
len(data.index)

10000

In [13]:
(sum(data['ExpectedLoss'])*100000)/10000000

4.933913144062013

In [2]:
data = pd.read_csv('Inferntial Statistics - UpGrad Samples.csv')
data.head()

   Sample No.  Sample Mean
0           1          3.2
1           2          2.6
2           3          2.8
3           4          2.0
4           5          3.0

In [3]:
data['Sample Mean'].mean()

2.3480000000000003

In [4]:
data['Sample Mean'].std()

0.42698851497340273