In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('Hotstar+Data.xlsx')
data.head()

   Customer ID  Why did you purchase Hotstar Premium?
0        84934                                      0
1        63836                                      1
2        92939                                      1
3        40079                                      0
4        46264                                      1

In [4]:
data['Why did you purchase Hotstar Premium?'].unique()

array([0, 1], dtype=int64)

In [3]:
data['Why did you purchase Hotstar Premium?'].std()

0.5016501695025959

In [5]:
data['Why did you purchase Hotstar Premium?'].mean()

0.5206611570247934