In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('Metrail+dataset.csv')
data.columns=['Month', 'Travellers']
# data['Month'] = pd.to_datetime(data['Month'], format="%Y-%m")
data = data.set_index('Month')
data.head(12)

        Travellers
Month
Jan-91      1724.0
Feb-91      1638.0
Mar-91      1987.0
Apr-91      1825.0
May-91         NaN
Jun-91      1879.0
Jul-91      1957.0
Aug-91      2027.0
Sep-91      1609.0
Oct-91      1740.0
Nov-91      1689.0
Dec-91      1831.0

In [7]:
data = data.assign(Travellers_Mean_imputation = data.Travellers.fillna(method='pad'))
data.Travellers_Mean_imputation.mean()

1838.685534591195

In [8]:
data = data.assign(Travellers_Mean_imputation = data.Travellers.fillna(method='backfill'))
data.Travellers_Mean_imputation.mean()

1834.446540880503

In [10]:
data = data.assign(Travellers_Linear_Interpolation = data.Travellers.interpolate(method='linear'))
data.Travellers_Linear_Interpolation.mean()

1836.566037735849